.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.main_container,
.nav_container {
  max-width: 70%;
  width: 60%;
}

.nav {
  width: 60%;
  display: flex;
  margin-bottom: 6px;
}

.nav a {
  padding: 12px;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 16px;
}
.nav-link:first-child {
  margin-right: 8px;
}

.nav-link.active {
  color: #000000;
  font-weight: 700;
  background-color: #97cce8;
}

.search_container {
  display: flex;
}

.search_container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #eaeaea;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input {
  flex-grow: 1;
  border: 1px solid #ddd;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 6px;
}
input:focus {
  outline-style: none;
}

.results_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.card_container h4 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #4778b3;
}
.card_container img {
  max-height: 400px;
}
.active {
  cursor: pointer;
}
.none {
  display: none;
}
